<html>

<head>
  <title>
    <%= tittle %>
  </title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <link rel="stylesheet" href="/style.css">
  <script src=" https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<body>
  <!-- THIS IS MAIN SECTION OF TO LIST APP -->
  <section class="container">
    <h2 align="center">TODO LIST APP</h2>
    <!-- THIS IS FORM FOR ADD TASK  -->
    <form action="/create-task" method="POST">

      <table class="table">
        <thead>
          <tr class="table-active">
            <th>Add Task</th>
            <th>category</th>
            <th>date</th>
            <th>add task</th>
          </tr>
        </thead>


        <tbody>
          <tr>
            <td> <input type="text" name="description" placeholder="Write your note here..." required></input></th>
            <td> <select name="category" required>

                <option>personal</option>
                <option>work</option>
                <option>school</option>
                <option>cleaning</option>
                <option>other</option>

              </select></th>
            <td> <input type="date" name="date" required></th>
            <td><input type="submit" class="btn btn-success" id="add" value="ADD NOTE"></th>
          </tr>
        </tbody>

      </table>

    </form>
  </section>
  <div>
    <center>
      <h2>YOUR TASK LIST</h2>
    </center>

    <form action="/delete-task" method="GET">
      <table class="table">
        <thead>
          <tr>
            <th>Select</th>
            <th>Task</th>
            <th>Category</th>
            <th>due date</th>
          </tr>
        </thead>
        <% for(let i of task) { %>

          <tr>
            <td><input type="checkbox" name="<%= i._id %>"></td>
            <td>
              <p id="task-description">
                <%= i.description %>
              </p>
            </td>
            <td>
              <p id="task-category">
                <%= i.category %>
              </p>
            </td>
            <td>
              <p id="due-date">
                <%= i.date %>
              </p>
            </td>
          </tr>
          <% } %>
            </table>
      <div align="center"><input type="submit" class="btn btn-danger" value="DELETE TASK">
      </div>>
    </form>


  </div>
</body>

</html>